.distill-site-nav{
  background-color: #5DD5A7;
    font-size: 20px;
  color: White;
}
.distill-site-header{
  font-family: "Sans-Serif";
  color: Black;
}
* {
  font-family: "Sans-Serif";
  color: Black; 
}